In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('challenge.xlsx')

In [3]:
df.head()

,First Name,Last Name,Company Name,Role in Company,Address,Email,Phone Number
0,John,Smith,IT Solutions,Analyst,98 North Road,jsmith@itsolutions.co.uk,40716543298
1,Jane,Dorsey,MediCare,Medical Engineer,11 Crown Street,jdorsey@mc.com,40791345621
2,Albert,Kipling,Waterfront,Accountant,22 Guild Street,kipling@waterfront.com,40735416854
3,Michael,Robertson,MediCare,IT Specialist,17 Farburn Terrace,mrobertson@mc.com,40733652145
4,Doug,Derrick,Timepath Inc.,Analyst,99 Shire Oak Road,dderrick@timepath.co.uk,40799885412

In [4]:
from selenium import webdriver

In [5]:
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options

In [6]:

#For headless
'''
options = Options()
options.add_argument('--headless')
options.add_argument('--disable-gpu')'''

"\noptions = Options()\noptions.add_argument('--headless')\noptions.add_argument('--disable-gpu')"

In [7]:
#driver = webdriver.Chrome(executable_path=r"C:\Users\Saurabh\Downloads\chromedriver_win32\chromedriver.exe",chrome_options=options)
driver = webdriver.Chrome(executable_path=r"C:\Users\Saurabh\Downloads\chromedriver_win32\chromedriver.exe")
driver.maximize_window()
driver.get("http://www.rpachallenge.com/")

In [8]:
driver.find_element_by_css_selector('button[class="waves-effect col s12 m12 l12 btn-large uiColorButton"]').click()

for i in df.index:
    driver.find_element_by_css_selector('input[ng-reflect-name="labelFirstName"]').send_keys(df['First Name'][i])
    driver.find_element_by_css_selector('input[ng-reflect-name="labelLastName"]').send_keys(df['Last Name'][i])
    driver.find_element_by_css_selector('input[ng-reflect-name="labelCompanyName"]').send_keys(df['Company Name'][i])
    driver.find_element_by_css_selector('input[ng-reflect-name="labelRole"]').send_keys(df['Role in Company'][i])
    driver.find_element_by_css_selector('input[ng-reflect-name="labelAddress"]').send_keys(df['Address'][i])
    driver.find_element_by_css_selector('input[ng-reflect-name="labelEmail"]').send_keys(df['Email'][i])
    driver.find_element_by_css_selector('input[ng-reflect-name="labelPhone"]').send_keys(str(df['Phone Number'][i]))
    driver.find_element_by_css_selector('input[type="submit"]').click()
driver.save_screenshot("complete.png")

True